{% extends "base.html" %}
{% block title %}Signup{% endblock %}
{% block header %}{% endblock %}

{% block aside %}
{% endblock %}

{% block login %}
	<section class="login signup">
		<h2>Register a new account</h2>
		<form action="{{ url_for('signup')}}" method="post">
			<p>E-mail Address:</p>
			<input type="text" size="50" name="email">
			<p>Password:</p>
			<input type="password" size="50" name="password">
			<p>Make this user an administrtor?:</p>
			<input type="checkbox" name="isAdmin" value="1">
			</br></br>
			<input type="submit" value="Signup">
		</form>
	</section>
{% endblock %}