{% extends "base.html" %}
{% block title %}Categories{% endblock %}
{% block nav %}| <a href="{{ url_for('newCategory') }}">New Category</a>{% endblock %}


{% block aside %}
{% for category in categories %}
	<li><a href="{{ url_for('showCategory',  category_id = category.id) }}">{{ category.name }}</li></a>
{% endfor %}
{% endblock %}

{% block section %}Last Added Items{% endblock %}

{% block content %}
{% for item in items %}

<p>
	<h3><a href="{{ url_for('showItem', category_id=item.category_id, item_id=item.id) }}">{{ item.name }}</a></h3>
	<i>Category: <a href="{{ url_for('showCategory',  category_id=item.category_id) }}">{{ item.category.name }}</a></i>
</p>
{% endfor %}
{% endblock %}