{% extends "base.html" %}
{% block title %}{{ category.name }}{% endblock %}
{% block header %}{{ category.name }}{% endblock %}
{% block nav %}
| <a href="{{ url_for('editCategory', category_id=category.id) }}">Edit Category</a> 
| <a href="{{ url_for('deleteCategory', category_id=category.id) }}">Delete Category</a>
{% endblock %}

{% block aside %}
{% for category in categories %}
	<li><a href="{{ url_for('showCategory',  category_id = category.id) }}">{{ category.name }}</li></a>
{% endfor %}
{% endblock %}

{% block section %}Items{% endblock %}

{% block content %}

{% endblock %}